#about.hide
  %a.close x
  #about-text
    %p
      I decided to build this app because I feel there is a lack of meaningful conversation about the upcoming democratic party mayoral primary. Especially when you consider that the winner becomes favorite to be the next mayor of New York.
      %br
      %br
      In my experience going door-to-door as a political organizer, I found the most effective way to communicate with strangers was sharing my personal reasons for supporting a candidate. I encouraged the volunteers who worked with me to do the same. Ideally this app can and will be a platform for all New Yorkers to share their thoughts on candidates in the upcoming election.
      %br
      %br
      Created by 
      %a{href: 'http://andrewritchie.info', target: '_blank'} Andrew Ritchie 
      %a{href: 'http://twitter.com/whackandrew', target: '_blank'} @whackandrew
