#about.hide
  %a.close x
  #about-text
    %p
      I decided to build this app after feeling there was a lack of meaningful conversation about the upcoming democratic party mayoral primary, particularly given the winner becomes favorite to be the next mayor of New York.
      %br
      %br
      In my experience going door-to-door as a political organizer I found the most effective way to communicate with strangers was to share why I personally support a particular candidate. And this is something I encouraged volunteers working with me to do as well. Ideally this app can be a platform for all New Yorkers to share their thoughts on candidates in the upcoming election.
      %br
      %br
      Created by 
      %a{href: 'http://andrewritchie.info', target: '_blank'} Andrew Ritchie 
      %a{href: 'http://twitter.com/whackandrew', target: '_blank'} @whackandrew
