%script#endorsement-show{ type: 'text/template'}
  .endorsement-container
    .candidate-photo
      %img{ src: '{{ photo_url }}' }
    .candidate-name
      %p
        {{ name }}
    .endorsement-description
      %p
        {{ description }}
