- content_for :head do
  :javascript
    window.startBuildings = #{@buildings};
    window.endorsement = #{@show.present? ? @show.to_json(methods: [:lat,:lng, :title, :photo_url]) : false};

.row
  .span12
