$trans_black: rgba(40, 40, 40, 0.75);

@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

@mixin ui_element {
  background-color: $trans_black;
  color: rgb(235,235,235);
}

@media only screen and (max-width: 480px) {
  #add-endorsement {
    top: 20% !important;
  }
  #edit-endorsement {
    top: 20% !important;
  }
  #address-form-container {
    top: 33% !important;
  }
  #edit-endorsement-form-container {
    top: 33% !important;
  }
  #about {
    top: 33% !important;
    left: 2% !important;
    max-width: 420px !important;
  }

  #about-button {
    bottom: 10% !important;
    left: 20% !important;
  }
}


html { 
  height: 100%;
  input {
    border-radius: 0 !important;
  }
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: 200;
}
#container { 
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 101;
}

#map-canvas {
  width: 100%;
  height: 100%;
  z-index: 100;
  img {
    max-width: none;
  }
}

.full-height {
  height: 100%;
}

.hide {
  display: none;
}

.center {
  @include center;
}

#about-button {
  position: absolute;
  cursor: pointer;
  bottom: 4%;
  left: 2%;
  z-index: 101;
  @include ui_element;
  font-size: 16pt;
  font-weight: 200;
  padding: 7px;
  color: rgb(235,235,235);
  letter-spacing: 0.75pt;
  &:hover {
    text-decoration: none;
    color: rgb(255,255,255);
  }
}

#about {
  background-color: rgba(40, 40, 40, 0.75);
  color: rgb(235,235,235);
  position: absolute;
  top: 20%;
  left: 20%;
  max-width: 38%;
  z-index: 101;
  font-size: 14pt;
  font-weight: 200;
  p {
    margin: 15px;
  }
  a:hover {
    text-decoration: none;
  }
}

#edit-endorsement {
  position: absolute;
  cursor: pointer;
  top: 8%;
  right: 1%;
  z-index: 101;
  padding: 10px;
  font-size: 16pt;
  @include ui_element;
  font-weight: 200;
  &:hover {
    color: rgb(255,255,255);
    text-decoration: none;
  }
}


#add-endorsement {
  position: absolute;
  cursor: pointer;
  top: 8%;
  right: 1%;
  z-index: 101;
  padding: 10px;
  font-size: 16pt;
  @include ui_element;
  font-weight: 200;
  &:hover {
    color: rgb(255,255,255);
    text-decoration: none;
  }
}

#address-form-container {
  position: absolute;
  top: 15%;
  right: 1%;
  width: 262px;
  z-index: 101;
  @include ui_element;
  form {
    margin: 10px 0 10px 20px;
  }
}
#edit-endorsement-form-container {
   p {
  &.success {
    text-align: center;
    font-size: 18pt;
    padding: 20px 0 20px 0; 
  }
  } 
  position: absolute;
  top: 15%;
  right: 1%;
  width: 362px;
  z-index: 101;
  @include ui_element;
  form {
    margin: 10px 0 10px 20px;

}
}
.edit-endorsement-textarea {
  width: 310px;
  height: 90px;
  border-radius: 0 !important;
}
.headshot {
  width: 80px;
}

.endorsement-container {
  border-bottom: 1px solid rgb(235,235,235);
  margin-top: 11px;
}

.endorsement-description {
  width: 305px;
  float: right;
}

#header {
  z-index: 101;
  position: absolute;
  top: 3%;
  left: 8%;
  height: 58px;
  width: 400px;
  @include ui_element;
}
p {
  &.lead {
    padding: 15px 0 10px 8px;
    font-size: 24pt;
  }
}

#endorsement-form-container {
  .input {
    margin-top: 8px;
  }
  form {
    margin: 20px;
  }
  label {
    font-size: 18pt;
    color: rgb(235,235,235);
    font-weight: 200;
    font-family: 'Helvetica Neue', Helvetica, Arial;
  }
  textarea {
    width: 400px;
    height: 90px;
    border-radius: 0 !important;
  }
  p {
  &.success {
    text-align: center;
    font-size: 18pt;
    padding: 20px 0 20px 0; 
  }
  }
}

.endorsements-container {
  padding: 15px;
}

.endorsement-container {
  p {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-weight: 200;
    font-size: 12pt;
    color: rgb(235,235,235);
    &.description {
      font-size: 10pt;
    }
  }
}

.building-header {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial !important;
  font-weight: 500 !important;
  font-size: 14pt !important;
  color: rgb(235,235,235) !important;
  margin: -10px 0 7px 0 !important;
}

.candidate-name {
  margin-left: -10px;
  margin-top: 4px;
}

.comfort-text {
  margin: 10px 10px 0 0;
}
